NODE_ENV=development
PORT=3000
TZ=Asia/Bangkok

# DB (local MySQL or the docker-compose `mysql` service)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=line_lottery
DB_USER=line_lottery
DB_PASSWORD=change_me_strong_db_password
MYSQL_ROOT_PASSWORD=change_me_strong_root_passwor
# JWT
JWT_SECRET=v7Qm9Xr2Lp8Zk4Nw6Tc1Hs5Jd0Fb3AyE
JWT_EXPIRES_IN=1d

# Default admin seeded on first boot
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin999

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=SPvLfKcS42fMnc7p0HYio+6GorLW6Lc+/3WRFoTAXHFpb4ZVqQ1xAZc+lJeCTvagHa0O8OnotH8kyNokPnnLzD6Uc8Zv9XrWXYG4JcUwtJfyYW7Wtnjf1BIlUzrsOaZI/>
LINE_CHANNEL_SECRET=1a5fd8e79ba8ca6320738ec0cbeb5ce7

# Public URLs
FRONTEND_URL=http://localhost:5173
PUBLIC_BASE_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173

# Trophy image in winner Flex message
LINE_TROPHY_IMAGE_URL=https://em-content.zobj.net/source/microsoft-teams/337/trophy_1f3c6.png

# SlipOK API
SLIPOK_BRANCH_ID=75023
SLIPOK_API_KEY=SLIPOKWZ36OA2

 # Cloudinary                                                                                                                              
    CLOUDINARY_URL=cloudinary://757499579245819:BYQzshXQlCFZZWtJ1lD4RnuDuXM@uiioxk7e
